.nav-margin-fix {
    margin-top: 5%;
}

.profileImg {
    border-radius: 10%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.studyProgramDropdown {
    color: black !important;
}

.navDropdown {
    background-color: #343A40 !important;
    border-color: #343A40 !important;
    color: #95989B !important;
}

.navDropdown:hover {
    color: white !important;
}

.footerIcons {
    color: white;
}

.footerIcons:hover {
    color: gray;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.cardBgColor {
    background-color: #F7F7F7;
}

#checkList {
    width: 100%;
}

#hzLogo {
    width: 75%;
}

#container {
    position: relative;
    text-align: center;
}

.profileNavColor {
    color: black !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #343A40 !important;
}

#v-pills-tab {
    color: black;
}

#image {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profileImageRound {
    border-radius: 10%;
    position: absolute;
    width: 15%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#introText1 {
    position: absolute;
    color: white;
    font-size: 250%;
    font-weight: bold;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#introText2 {
    position: absolute;
    color: white;
    font-size: 250%;
    font-weight: bold;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#introText3 {
    position: absolute;
    color: white;
    font-size: 150%;
    font-weight: bold;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}